*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

/* nav bar design */
.navbar{
  font-size: 17px;
  line-height: 26px;
  text-transform: capitalize;
  background-color: yellow ;
  color: black;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3 px solid gray ;

}
.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  letter-spacing: 2px;
}


.footer{
  background-color:#172337;
}


.register{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 70vh;
}
/* cart and sylheti-brand text animation */
.cart-summary{
  color: hsl(0, 0%, 28%);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.cart-summary,.hrtag, .design, .ptag{
  /* padding: 64px; */
  background: linear-gradient(to right, hsl(0, 0%, 50%) 0, hsl(194, 94%, 65%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}


 /* animation bounce to right: */
 .animated{
  font: 14px ;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: black;
    background: red; /* default color */
    border-radius: 10px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #d0f78a 50%, #f5e725 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
 }
 .animated:hover {
  background-position: left;
}

/* //category page button */
.button-animation{
  font: 14px ;
  display: inline-block;
  padding: 1em 2em;
  text-align: center;
  color: black;
  background: red; /* default color */
  border-radius: 10px;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #d0f78a 50%, #3de2f8 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}


.button-animation:hover {
  background-position: left;
}

/* product card design */

.myProductCard img:hover{
  transform: scale(.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(1.02);
  opacity: .7;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .4s ease-in-out
}